<header id="header" class="row" data-hook>
  <figure id="logo" class="columns alpha six" data-hook><div style='font-size:50px;letter-spacing:5px;margin-top:30px;margin-bottom:40px;'>Zarina Shop</div></figure>
  <%= render :partial => 'spree/shared/nav_bar' %>
  <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
</header>
