<nav class="columns alpha omega sixteen">
  <ul id="main-nav-bar" class="inline" data-hook>
    <li id="home-link" data-hook><%= link_to "Каталог", root_path %></li>
<!--    <li id="link-to-cart" data-hook><%= link_to_cart %></li>-->
    <li style='float:right'><a href=/contacts>Наш Адрес</a></li>
  </ul>
</nav>
