<style> ul#nav-bar li {display:none;}</style>
<nav id="top-nav-bar" class="columns omega ten">
  <ul id="nav-bar" class="inline" data-hook>
    <li id="search-bar" data-hook style='display:block'>
      <%= render :partial => 'spree/shared/search' %>
    </li>
  </ul>
</nav>
