<% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots %>
<%= form_tag products_path, :method => :get do %>
  <!--
  <%= select_tag :taxon,
        options_for_select([[t(:all_departments), '']] +
                              @taxons.map {|t| [t.name, t.id]},
                            @taxon ? @taxon.id : params[:taxon]) %>-->
  <%= search_field_tag :keywords, params[:keywords], :placeholder => t(:search) %>
  <%= submit_tag t(:search), :name => nil %>
<% end %>
